:root {
  --main-font: "PT Sans", sans-serif;
  --main-color: #22333c;
  --primary-color: #17a2b8;
}
.font-color {
  color: var(--primary-color);
}

main {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--main-color);
}

main .container {
  box-shadow: 0 0 20px #172228;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 768px) {
  .query-for-width {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .query-for-width {
    width: 50%;
  }
}
.container:hover {
  box-shadow: 0 0 10px var(--primary-color);
}

h1 {
  font-family: var(--main-font);
}

input.form-control {
  background-color: transparent;
  caret-color: white;
}
input.form-control::placeholder {
  color: white;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.form-control:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
  background: transparent;
}
.form-control:focus::placeholder {
  font-size: 11px;
  transform: translateY(-11px);
}
button.btn {
  border: 1px solid var(--primary-color);
}
button.btn:hover {
  background-color: var(--primary-color);
  color: white;
}
a.font-color {
  text-decoration: none;
}
a.font-color:hover {
  text-decoration: underline;
}
div p {
  font-size: 14px;
}
#togglePassword{
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}